__pycache__
.cache/*
.coverage*
.DS_Store
.env
.mypy_cache/
.pytest_cache/
.tox/
.venv/
.vscode/
*.code-workspace
*.egg-info/
*.pyc
*.swp
*~*
ACPU/*
build/*
DCPP/*
dist/
dist/*
docs/build/*
docs/doctrees/*
docs/html/*
docs/latex/*
docs/source/generated/*
htmlcov
include/*
local
Outputs/*
Trash/*